.Clientes {
    width: 100vw;
    height: 100vh;
    background-color: var(--fondo);
    position: fixed;
    z-index: 4;
    top: 100vh;
}


.clientes-text-container {
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.clientes-text-container h1{
    padding-top: 15%;
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 1vh;
}

.clientes-img-container {
    width: 100vw;
    height: 35vh;
    background-color: white;
    padding-top: 1%;
}


.clientes-img-container img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.clientes-icon-container {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.clientes-icon-container img {
    width: 30%;
    height: 80%;
}

.main-text-clientes-container {
    z-index: 1;
    height: 30vh;
    width: 100vw;
    min-width: 320px;
    min-height: 120px;
    text-align: center;
    margin-bottom: 10vh;
}

.main-text-clientes-card-frist {
    scroll-snap-align: center;
    width: 100vw;
    height: 15%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 8%;
    margin-bottom: 8vh;
    margin-top: 5vh;
}
.main-text-clientes-slider {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    display: flex;
    flex-direction: column;
}

.main-text-clientes-card {
    scroll-snap-align: center;
    width: 100vw;
    height: 15%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 8%;
    margin-bottom: 8vh;
    margin-top: 8vh;
}

.clientes-text-blond {
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
}

.clientes-text {
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
}

.main-text-clientes-card-last {
    scroll-snap-align: center;
    width: 100vw;
    height: 15%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 15vh;
    margin-bottom: 10vh;
}


.carrusel-main-container-clientes {
    width: 160vw;
    height: 40vh;
}


.carousel-image-clientes {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 15%;
    width: 100%;
    height: 100%;
}



.main-text-clientes-container {
    width: 100vw;
    height: 30vh;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    align-items: flex-start;
    align-items: center;
    
}

.texto-container-1 {
    width: 100vw;
    height: 30vh;
    animation-name: ocultar;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


.ocultar-texto {
    display: none;
}

.texto-container-2 {
    width: 100vw;
    height: 30vh;
    animation-name: ocultar;
    animation-duration: 10s;
    animation-iteration-count: infinite;


}

.texto-container-3 {
    width: 100vw;
    height: 30vh;
    animation-name: ocultar;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

.texto-container-box-1 {
    
    display: flex;
    flex-direction: row;
}

.texto-container-box :nth-child(1){
    width: 30%;
    font-size: 7rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.texto-container-box :nth-child(2){
    width: 70%;
    font-size: 6rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.texto-under {
    padding-top: 2vh;
    width: 100%;
    font-size: 6rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.texto-container-2 .texto-container-box {
    display: flex;
    flex-direction: column;
}
.texto-container-2 .texto-container-box :nth-child(1) {
    width: 100vw;
    font-size: 7rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.texto-container-2 .texto-container-box :nth-child(2) {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 6rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.texto-container-3 .texto-container-box {
    display: flex;
    flex-direction: column;
}
.texto-container-3 .texto-container-box :nth-child(1) {
    width: 100vw;
    font-size: 7rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.texto-container-3 .texto-container-box :nth-child(2) {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 6rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}


@keyframes ocultar {
    0% {
        transform: translate( 0, 0rem);
    }

    20% {
        transform: translate( 0, 0rem);
    
    }

    30% {
        transform: translate( 0, -50rem);
    
    }

    60% {
        transform: translate( 0, -50rem);
    
    }

    70% {
        transform: translate( 0, -100rem);
    
    }

    90% {
        transform: translate( 0, -100rem);
    
    }
    
    100% {
        transform: translate( 0, 0rem);
    
    }

}

@keyframes subir {
    from {
        top: 100vh;
    }
    
    to {
        top: 0vh;
    }

}

@keyframes bajar {
    0% {
        top: 0vh;
    }
    
    100% {
        top: 100vh;
    }
}


.subir {
    top: 0vh;
    animation-duration: 1s;
    animation-name: subir;
    z-index: 11;
}

.bajar {
    top: 0vh;
    animation-duration: 1s;
    animation-name: bajar;
    z-index: 0;
    display: none;
}