.Clientes {
    width: 100vw;
    height: 100vh;
    background-color: var(--fondo);
    position: fixed;
    z-index: 4;
    top: 100vh;
    padding: 15%;
}


.clientes-text-container h1 {
    width: 70vw;
    height: 20vh;
    font-size: 6rem;
    text-align: center;
    padding-top: 20%;
}


.Separador-clientes {
    height: 20vh;
    width: 100vh;
}



@keyframes subir {
    from {
        top: 100vh;
    }
    
    to {
        top: 0vh;
    }

}

@keyframes bajar {
    0% {
        top: 0vh;
    }
    
    100% {
        top: 100vh;
    }
}


.subir {
    top: 0vh;
    animation-duration: 1s;
    animation-name: subir;
    z-index: 11;
}

.bajar {
    top: 0vh;
    animation-duration: 1s;
    animation-name: bajar;
    z-index: 0;
    display: none;
}