.main-cotiza-botton-container {
    height: 100vh;
    width: 8vw;
    position: fixed;
    z-index: 100;
    top: 0vh;
    left: 92.5vw;
    display: flex;
    align-items: center;
}

.cotiza-botton-container {
    background: linear-gradient(-180deg, #cb6538, #ad6733);
    border-top: 5px solid #ad6733;
    border-bottom: 5px solid #ad6733;
    border-left: 5px solid linear-gradient( #cb6538, #ad6733);
    height: 45vh;
    display: flex;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    align-items: center;
    text-decoration: none;
    border-radius: 200px 0px 0px 200px;
}

.cotiza-text {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: white;
    font-weight: 200;
    text-align: unset;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}


