@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

:root {
    --fondo: #ececec;
}


@font-face {
    font-family: Inpact;
    src: url('/assets/Fonts/Impact-Font/impact.ttf'), 
         url('/assets/Fonts/Impact-Font/Impacted.ttf'),
         url('/assets/Fonts/Impact-Font/unicode.impact.ttf'),

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

main {
    width: 100vw;
    height: 500vh;
    scroll-behavior: smooth;
}




.filtro-cortina {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: var(--fondo);
}


