.Productos {
    width: 100vw;
    height: 100vh;
    background-color: var(--fondo);
    position: fixed;
    z-index: 3;
    top: 100vh;
}

.main-productos-container{
    width: 100vw;
    min-width: 100vw;
    padding-bottom: 10vh;
    text-align: center;
}

.productos-container--slider{
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    gap: 10px;
    height: 60vh;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.productos-container--card {
    scroll-snap-align: center;
    width: 50vw;
    height: 50vh;
    min-width: 50vw;
    max-width: 50vw;
    background-color: aqua;
    border: 1rem solid rgb(255, 136, 0);
    border-radius: 15px;
    box-shadow: 0 2rem 2rem rgb(90, 73, 30, 0.36);
}

.productos-text {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}

.productos-text h1{
    font-size: 5rem;
    font-weight: 700;
}

@keyframes subir {
    from {
        top: 100vh;
    }
    
    to {
        top: 0vh;
    }

}

@keyframes bajar {
    0% {
        top: 0vh;
    }
    
    100% {
        top: 100vh;
    }
}


.subir {
    top: 0vh;
    animation-duration: 1s;
    animation-name: subir;
    z-index: 10;
}

.bajar {
    top: 0vh;
    animation-duration: 1s;
    animation-name: bajar;
    z-index: 0;
}