.productos-slider-mid-left :nth-child(1) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(2) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(3) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/11.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(4) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/12.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(5) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(6) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/14.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(7) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/15.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(8) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/16.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(9) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/17.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(10) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/18.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(11) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(12) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(13) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


  

  /*-----------------------------*/
  
  
  .productos-slider-mid-right :nth-child(1) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/19.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(2) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(3) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/20.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(4) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/21.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(5) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/22.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(6) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/23.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(7) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/24.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(8) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/25.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(9) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/26.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(10) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(11) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(12) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(13) {
    background-image: url("/assets/productos-imgs/PROYECTOSCOMERCIALES/9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  

