.productos-slider-mid-left :nth-child(1) {
    background-image: url("/assets/productos-imgs/BARANDALES/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(2) {
    background-image: url("/assets/productos-imgs/BARANDALES/10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(3) {
    background-image: url("/assets/productos-imgs/BARANDALES/11.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(4) {
    background-image: url("/assets/productos-imgs/BARANDALES/12.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(5) {
    background-image: url("/assets/productos-imgs/BARANDALES/13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(6) {
    background-image: url("/assets/productos-imgs/BARANDALES/14.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(7) {
    background-image: url("/assets/productos-imgs/BARANDALES/15.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(8) {
    background-image: url("/assets/productos-imgs/BARANDALES/16.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(9) {
    background-image: url("/assets/productos-imgs/BARANDALES/17.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(10) {
    background-image: url("/assets/productos-imgs/BARANDALES/18.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(11) {
    background-image: url("/assets/productos-imgs/BARANDALES/19.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(12) {
    background-image: url("/assets/productos-imgs/BARANDALES/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  

  /*-----------------------------*/
  
  
  .productos-slider-mid-right :nth-child(1) {
    background-image: url("/assets/productos-imgs/BARANDALES/20.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  

  
  .productos-slider-mid-right :nth-child(2) {
    background-image: url("/assets/productos-imgs/BARANDALES/21.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(3) {
    background-image: url("/assets/productos-imgs/BARANDALES/22.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(4) {
    background-image: url("/assets/productos-imgs/BARANDALES/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(5) {
    background-image: url("/assets/productos-imgs/BARANDALES/4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(6) {
    background-image: url("/assets/productos-imgs/BARANDALES/5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(7) {
    background-image: url("/assets/productos-imgs/BARANDALES/6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(8) {
    background-image: url("/assets/productos-imgs/BARANDALES/7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(9) {
    background-image: url("/assets/productos-imgs/BARANDALES/8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(10) {
    background-image: url("/assets/productos-imgs/BARANDALES/9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }