.productos-slider-mid-left :nth-child(1) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/0013.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(2) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/004.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(3) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/006.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(4) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/007.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(5) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/009.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(6) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(7) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(8) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/11.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(9) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/12.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(10) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(11) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/14.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(12) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/15.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(13) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/16.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(14) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/17.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(15) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/18.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(16) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/19.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(17) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(18) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(19) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(20) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(21) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(22) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


  

  /*-----------------------------*/
  
  
  .productos-slider-mid-right :nth-child(1) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/20.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(2) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/21.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(3) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/22.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(4) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/23.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(5) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/24.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(6) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/25.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(7) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/26.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(8) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/27.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(9) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/28.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(10) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/29.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(11) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(12) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/30.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(13) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/31.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(14) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/32.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(15) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/33.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(16) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/34.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(17) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/35.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(18) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/36.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(19) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/37.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(20) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/38.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-right :nth-child(21) {
    background-image: url("/assets/Productos/VENTANASDEALUMINIO/9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }



