.productos-slider-mid-left :nth-child(1) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(2) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(3) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/11.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(4) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/12.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(5) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(6) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/14.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(7) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/15.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-left :nth-child(8) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(9) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .productos-slider-mid-left :nth-child(10) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


  

  /*-----------------------------*/
  
  
  .productos-slider-mid-right :nth-child(1) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/16.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(2) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/17.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(3) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/18.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(4) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/19.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(5) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(6) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/20.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(7) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(8) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(9) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .productos-slider-mid-right :nth-child(10) {
    background-image: url("/assets/Productos/DOMOSYTECHOS/6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  

