.carrusel-main-container {
    width: 161vw;
    height: 160vh;
}


.carousel-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.carousel-image-short {
    width: 200vw;
    height: 160vh;
}
