.header-main-container {
    position: fixed;
    display: flex;
    z-index: 10;
    width: 100vw;
    height: 10vh;
}

.header-logo-container  {
    width: 50%;
}

.header-logo-container img {
    width: 160px;
    margin: 5%;
}

.header-menubotton-container {
    width: 50%;
    display: flex;
    justify-content: end;
    margin: 3%;
}

.header-menubotton-container button {
    width: 40%;
    height: 50%;
}


.overlay-navigation {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.8);
    transform: translateY(-100%);
  }
  
  .overlay-slide-down {
    transition: all .4s ease-in-out;
    transform: translateY(0)
  }
  
  .overlay-slide-up {
    transition: all .8s ease-in-out;
    transform: translateY(-100%)
  }

  .open-overlay {
    position: absolute;
    right: 2rem;
    top: 1rem;
    z-index: 100;
    width: 34px;
    display: block;
    cursor: pointer;
  }
  
  .open-overlay span {
    display: block;
    height: 1.5px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 8px;
  }
  
  .animate-top-bar {
    animation: animate-top-bar .6s linear 1 both
  }
  
  .animate-bottom-bar {
    animation: animate-bottom-bar .6s linear 1 both
  }
  
  .animate-middle-bar {
    animation: animate-middle-bar .6s linear 1 both
  }
  
  .animate-out-top-bar {
    animation: animate-out-top-bar .6s linear 1 both
  }
  
  .animate-out-bottom-bar {
    animation: animate-out-bottom-bar .6s linear 1 both
  }
  
  .animate-out-middle-bar {
    animation: animate-out-middle-bar .6s linear 1 both
  }