
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0%;
    padding: 0%;
    font-size: 13px;
}


/*AQUI INICIA EL HEADER  */
.header-main-container {
    display: flex;
    width: 100%;
    height: 0vh;
}

.header-logo-container img {
    width: 160px;
    margin: 5%;
    position: absolute;
    z-index: 10;
}

/*AQUI TERMINA EL HEADER  */

/*AQUI INICIA EL CARRUSEL  */
.carrusel-container {
    display: flex;
    width: 100vw;
    justify-content: center;
}


.carrusel-element-1 img {
    width: 100vw;
}
/*AQUI TERMINA EL CARRUSEL  */


/*AQUI INICIA EL BOTTON DE WHATSAPP  */
.main-whatsapp-botton-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: absolute;
    z-index: 10;
    margin-top: -4vh;
}


.whatsapp-botton-container {
    background: linear-gradient(180deg, #70ba77, #5aa261);
    border: 1px solid #a6ddaa;
    border-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100vw;
    min-width: 314px;
    border-radius: 100px 100px 0% 0%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.whatsapp-text {
    font-weight: 100;
    font-size: 1.5rem;
}

.whatsapp-text-bold {
    font-weight: 600;
    font-size: 1.5rem;
    padding-left: 4px;
}


.whatsapp-icon {
    width: 20px;
    padding-left: 6px;
}

/*AQUI TERMINA EL BOTTON DE WHATSAPP  */

/*AQUI INICIA EL BOTTON DE COTIZACION  */
.main-cotiza-botton-container {
    height: 100vh;
    position: absolute;
    z-index: 20;
    display: flex;
    justify-content: end;
    align-items: center;
}

.cotiza-botton-container {
    background: linear-gradient(-180deg, #cb6538, #ad6733);
    border: 1px solid #be5637;
    height: 40%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 100px 0px 0% 100px;
    padding-right: 0.5%;
    padding-left: 0.5%;
}

.cotiza-text {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: white;
    font-weight: 100;
    text-align: unset;
    writing-mode: vertical-lr;
}



/*AQUI TERMINA EL BOTTON DE COTIZACION  */