* {
    margin: 0;
    padding: 0;
}

/*AQUI INICIA EL BOTTON DE WHATSAPP  */
.main-whatsapp-botton-container {
    width: 100vw;
    display: flex;
    margin-top: 25vh;
    justify-content: center;
    max-width: 414px;
    min-width: 350px;
}


.whatsapp-botton-container {
    background-color: #00bb2d;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100vw;
    border-radius: 100px 100px 0% 0%;
    max-width: 414px;
    min-width: 350px;
    
}

.whatsapp-text {
    text-decoration: none;
    color: white;
    font-weight: 100;
    text-align: center;
}

.whatsapp-text-bold {
    text-decoration: none;
    color: white;
    font-weight: 900;
    padding-left: 2%;
    text-align: center;
}


.whatsapp-icon {
    width: 6%;
    padding: 0% 8% 0% 0%;
    text-align: start;
    padding-left: 2%;
}

/*AQUI TERMINA EL BOTTON DE WHATSAPP  */

/*AQUI INICIA EL BOTTON DE COTIZACION  */
.main-cotiza-botton-container {
    width: 100vw;
    display: flex;
    justify-content: end;
    margin-top: 30vh;
}

.cotiza-botton-container {
    background-color: orange;
    height: 40vh;
    width: 10vw;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 100px 0px 0% 100px;
    justify-content: center;
}

.cotiza-text {
    text-decoration: none;
    color: white;
    font-weight: 100;
    text-align: unset;
    writing-mode: vertical-lr;
}



/*AQUI TERMINA EL BOTTON DE COTIZACION  */