.main-contacto-container{
    width: 100vw;
    height: 100vh;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
}

.contacto-main--text {
    width: 100vw;
    height: 5vh;
    margin-top: 10vh;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    letter-spacing: .5px;
}

.mapa-direccion{
    width: 100vw;
    height: 15vh;
}

.mapa-direccion-img{
    width:100vw;
    height: 15vh;
}

.banner-redes-sociales{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    margin: 5%;
    gap: 5px;

}

.imagenes-redes-sociales{
    max-width: 30px;
    max-height: 30px;

}

.banner-numero-telefono{
    background-color: rgb(226, 226, 226);
    text-align: center;
    box-sizing: border-box;

    border: 1px solid black;
    border-color: white;
    padding: 8px;
    border-radius: 5px;
    margin: 15px;

    box-shadow: 4px 4px 10px gray;
}

.logo-contacto{
    max-width: 30px;
    max-height: 30px;
}

.numero-telefono--texto{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}


.banner-whatsapp{
    text-align: center;   
    box-sizing: border-box;
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    margin: 15px; 
}

.numero-whatsapp--texto{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}


.banner-correo-electronico{
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    margin: 15px;
}

.correo-electronico--texto{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

nav ul{
    text-align: center;
}

nav li{
    display: inline;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 3px;
    
}

.red_social_media_icon {
    width: 10%;
}