.main-proceso-container {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.proceso-main--text {
    width: 100vw;
    text-align: center;
}

.proceso-main-container--image img{
    width: 100%;
    align-items: center;
}

.proceso-text-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.text-container--number {
    font-weight: 900;
    font-size: 2rem;

}

.text-container--text {
    font-weight: 300;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 5px;
    
}