.main-contacto-container{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.contacto-main--text {
    width: 100vw;
    height: 5vh;
    margin-top: 10vh;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    letter-spacing: .2px;
}

.mapa-direccion{
    width: 100vw;
    height: 22vh;
}

.mapa-direccion-img{
    width:100vw;
    height: 20vh;
}

.banner-redes-sociales{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    margin: 1.5%;
    gap: 5px;

}

.imagenes-redes-sociales{
    max-width: 30px;
    max-height: 30px;

}

.diseño-banner-contactos{
    background-color: rgb(226, 226, 226);
    text-align: center;
    box-sizing: border-box;

    border: 1px solid black;
    border-color: white;
    padding: 8px;
    border-radius: 7px;
    margin: 15px;

    box-shadow: 4px 4px 10px gray;

}

.banner-numero-telefono{

}

.logo-contacto{
    max-width: 30px;
    max-height: 30px;

    margin-right: 11px;

    filter: invert(55%) sepia(5%) saturate(148%) 
    hue-rotate(169deg) brightness(88%) contrast(96%);
}

.numero-telefono--texto{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: gray;
}


.banner-whatsapp{
     
}

.numero-whatsapp--texto{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: gray;
}


.banner-correo-electronico{
    
}

.correo-electronico--texto{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: gray;
}

nav ul{
    text-align: center;
    margin-top: 20px;
}

.diseño-botones-privydesc{

    height: 40px;
    width: 120px;

    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    padding-top: 1px;
   

    background-color: rgb(240, 125, 17);

}

.diseño-botones-privydesc:nth-child(odd){
    margin-right: 30px;
}

nav li{
    display: inline-block;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; 
}

.red_social_media_icon {
    width: 16%;
    height: 110%;
    margin-right: 10px;
    
}