.main-proceso-container {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

.proceso-main--text {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}

.proceso-main--text h1 {
  font-size: 3rem;
  
}
.proceso-main-container {
  z-index: 10;
  height: 85vh;
  width: 100%;
  min-width: 320px;
  text-align: center;
}

.proceso-slider {
  display: flex;
  gap: 5px;
  height: 100%;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.roceso-slider--card {
  scroll-snap-align: center;
  width: 100vw;
  height: 85vh;
  min-width: 190px;
  max-width: 300px;
  margin: 50px 5px 0;
}
.proceso-slider-card-image {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
}

.proceso-slider-card-image img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  
}

.image-blue  {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10vw;
}

.image-blue img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
}

.proceso-slider-card--text {
  width: 80vw;
  height: 25vh;
  display: flex;
  justify-content: center;
}

.proceso-slider-card--text h1 {
  font-size: 3rem;
  text-align: center;
  
} 







