.productos-main-container {
    width: 100vw;
    height: 100vh;
    background-color: #ececec;
}

.productos-text-container {
    width: 100vw;
    height: 10vh;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

.productos-category-container {
    z-index: 10;
    height: 75vh;
    width: 100vw;
    min-width: 320px;
    text-align: center;
  }
  
  .productos-slider {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    align-items: center;
  }
  
  .productos-card {
    scroll-snap-align: center;
    min-width: 220px;
    height: 50vh;
    width: 80vw;
    border-radius: 15px;
    background-color: #8a8a8afa;
    margin: 50px 5px 0;
    border: 3px solid rgb(255, 102, 0);
    display: flex;
    flex-direction: row;
  }

  .productos-card-notactive {
    opacity: 40%;
    height: 35vh;
  }

  .productos-card-in-left {
    display: none;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
  }

  .productos-card-in-right {
    display: none;
    gap: 15px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
  }

  .card-in--item {
    display: none;
    width: 80%;
    height: 25%;
    border-radius: 10px;
    scroll-snap-align: center;
    min-width: 100px;
    max-width: 300px;
    background-color: rgb(92, 92, 92);
  }




