
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

:root {
    --black: #000000;
    --organge: #0000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100vw;
  font-weight: 300;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  font-family: "Signika Negative", sans-serif, Arial;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}