
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0%;
    padding: 0%;
    font-size: 13px;
}


/*AQUI INICIA EL HEADER  */
.header-main-container {
    position: fixed;
    display: flex;
    z-index: 20;
    width: 100%;
    height: 10vh;
}

.header-logo-container  {
    width: 50%;
}

.header-logo-container img {
    width: 160px;
    margin: 5%;
}

.header-menubotton-container {
    width: 50%;
    display: flex;
    justify-content: end;
    margin: 3%;
}

.header-menubotton-container button {
    width: 100px;
    height: 40px;
    
}

/*AQUI TERMINA EL HEADER  */

/*AQUI INICIA EL CARRUSEL  */
.carrusel-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carrusel-element {
    width: 100%;
    height: 100%;
   
}

.carrusel-element_1 {
    background-image: url(../20211005_122123.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}

.carrusel-element_2 {
    background-image: url(../20220114_124325.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.carrusel-element_3 {
    background-image: url(../20220609_135949.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}

.carrusel-element_4 {
    background-image: url(../IMG20220615165908.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}

.carrusel-element_5 {
    background-image: url(../IMG20220715142720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}



/*AQUI TERMINA EL CARRUSEL  */


/*AQUI INICIA EL BOTTON DE WHATSAPP  */
.main-whatsapp-botton-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: fixed;
    z-index: 15;
    top: 95vh;
}


.whatsapp-botton-container {
    background: linear-gradient(180deg, #70ba77, #5aa261);
    border-bottom: 0px solid;
    border-left: 3px solid #5aa261 ;
    border-right: 3px solid #70ba77 ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100vw;
    max-width: 500px;
    height: 5vh;
    min-width: 250px;
    border-radius: 100px 100px 0% 0%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.whatsapp-text {
    font-weight: 100;
    font-size: 1.5rem;
}

.whatsapp-text-bold {
    font-weight: 600;
    font-size: 1.5rem;
    padding-left: 4px;
}

.whatsapp-icon {
    width: 20px;
    padding-left: 6px;
}

/*AQUI TERMINA EL BOTTON DE WHATSAPP  */

/*AQUI INICIA EL BOTTON DE COTIZACION  */
.main-cotiza-botton-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 20;
    top: 0vh;
    margin-bottom: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.cotiza-botton-container {
    background: linear-gradient(-180deg, #cb6538, #ad6733);
    border-top: 3px solid #ad6733;
    border-bottom: 3px solid #ad6733;
    border-left: 3px solid #cb6538;
    border-right: 0px solid;
    height: 40vh;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 100px 0px 0% 100px;
}

.cotiza-text {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: white;
    font-weight: 100;
    text-align: unset;
    writing-mode: vertical-lr;
}



/*AQUI TERMINA EL BOTTON DE COTIZACION  */