.youtube_channel_container {
    background-color: #ececed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
}

.youtube_data {
    height: 40vh;

}

.youtube-icon {
    text-align: center;
}

.youtube-icon-img {
    width: 40%;
    margin: 5%;
}

.youtube_data_text {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 10px;
}

.youtube_data_text_1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 3px;
}

.youtube_data_text_2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 1100;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 11px;
}

.vistas_contador {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
}

.main-plans-container{
    padding-top: 10%;
    z-index: 90;
    height: 60vh;
    width: 100%;
    min-width: 320px;
    text-align: center;
}

.plans-container--slider{
    display: flex;
    gap: 5px;
    height: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 60vw;
    height: 15vh;
    min-width: 190px;
    max-width: 300px;
    margin: 50px 5px 0;
}


.plans-container--card img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 8px 16px 8px rgb(90, 73, 30, 0.16);
    width: 100%;
}




